.wrapper {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;

  .right-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;

    .views {
      min-height: calc(100vh - 95px);
      position: relative;
      overflow-y: scroll;
    }
  }
}